body {
  color: white;
  background-image: url("./img/Background-Landing.jpg");
  margin: 0;
  text-align: center;
}

h2 {
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

p {
  font-size: 18px;
}
