.conteiner {
  background-color: black;
  background-image: url("../img/gamemaker.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  width: auto;
  min-height: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  text-align: justify;
}

.inputs {
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 10px;
  width: 10%;
  height: 5%;
  transition: width 0.4s ease-in-out;
}

.inputs:focus {
  width: 15%;
}

.inputDescription {
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 10px;
  width: 10%;
  height: 100px;
  transition: width 0.4s ease-in-out;
  /* resize: vertical;
  box-sizing: border-box; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.inputDescription:focus {
  width: 20%;
}

.checkboxsConteiner {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 10px;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  cursor: pointer;
  margin-left: 5px;
}

.checkboxsConteiner:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkboxsConteiner input:checked ~ .checkmark {
  background-color: #21c2f3;
}

.botonSubmit {
  background-color: #1a1a1a;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 12px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.botonSubmit:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.danger {
  color: red;
}

.selectMenu {
  width: 12%;
  padding: 8px 5px;
  margin-top: 15px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #f1f1f1;
  /* display: block; */
  text-align: center;
  margin-left: 5px;
  color: #555;
}
